.eachRestaurant{

    display: inline-block;
    margin:10px;
    padding:10px;
    border-radius: 7px;
    width: 130px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#voirCarte{
    margin-top: 5px;
}