.imageFont {
    background-image: url('../../assets/chefs.png');
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.pageConnexion{
    display: grid;
    margin: 30px 20px;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    line-height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

.loginInput{
    border: none;
    border-bottom: 1px solid #000;
    background-color: none;
    font-size: 15px;
}

.loginInput:focus {
    outline: 0;
    border-bottom: 1px solid red;
}

.connectezVs {
    text-align: center;
}

.bouttonConnect {
    text-align: center;
    margin-top: -60px;
}

.connect {
    text-align: center;
    background-color: #519e8a;
    color: #fff;
    padding: 10px 40px;
    font-size: 1em;
    font-weight: lighter;
    border-radius: 5px;
    margin-top: 90px;
}

.titleConnexion {
    text-align: center;
    margin-top: 10px;
}
