body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.left{
    float: left;
}

.right{
    float: right;
}

.form-wrapper {
    width: 420px;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: yellow;
    text-align: center;
}

.label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: black;
    font-weight: lighter;
    float: left;
}

input{
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
}

select{
    float: left;
    border-radius: 5px;
    padding: 9px;
    width: 192px;
}

button {
    background-color: #519e8a;
    color: #fff;
    padding: 10px 40px;
    font-size: 1em;
    font-weight: lighter;
    border-radius: 5px;
}
